DirectoryIndex home.php
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ http://eureka-hms.herokuapp.com/user/home.php [QSA,L]

